---
permalink: public/humans.txt
eleventyExcludeFromCollections: true
---
# humanstxt.org/
# The humans responsible & technology colophon

Evren Çağlayan
Web Developer
caglayanevren@gmail.com
	
# TECHNOLOGY COLOPHON

	HTML5, CSS3, Modernizr
	NodeJS 18.x, npm-run-all
	11ty 2.0.1, Nunjucks, Vite 4.4.10
	Notion, notion-to-md, markdown-it 

# SITE
Background Image: Palamut bükü, Datça, Muğla 📷 Evren Çağlayan / 2017 June
Last update: {{ node.timestamp | dateToISO }}