{% extends "layouts/base.njk" %}
{% set language = 'en' %}
{% set title = 'Portfolio' %}
{% set page_title = site.siteName + " | " + title  %}
{% set description = site.siteDescription %}
{% set script = '/js/main.js' %}
{% set bodyClass = 'anasayfa' %}
{% set relative_path = '.' %}
{%- block main -%}
    <div class="index-content">

        <section class="index-item-hero" id="top">
            <div class="container mt-10vh">
                <div class="display-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1>Learning is<br>a never ending<br>process <span>in the sea of infinite possibilities</span></h1>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-6 offset-lg-6">
                            <h2>I'm Evren Caglayan,<br>a web developer<br>based in <a class="bodrum text-white" href="https://goo.gl/maps/eYyYFh79qZux8gS77" target="_blank">Bodrum, Turkey</a></h2>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6 text-end">
                            <div class="d-flex w-100 flex-row-reverse justify-content-start">
                                <a href="https://twitter.com/caglayanevren" style="padding:0.5rem 0rem 0.5rem 1rem">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"><path style="fill:#ffffff" d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></svg>
                                </a>
                                <a href="https://github.com/caglayanevren" style="padding:0.5rem 0rem 0.5rem 1rem">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 16 16" xml:space="preserve">
                                        <path style="fill:#ffffff" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                                    </svg>
                                </a>
                                <a href="mailto:caglayanevren@gmail.com" style="padding:0.5rem 0rem 0.5rem 1rem">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" xml:space="preserve">
                                        <path style="fill:#ffffff" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>

        <section class="index-item-about">
            <div class="container" id="aboutme">
                <div class="display-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-lg-10 mr-auto">
                            <p class="display-3">about me</p>
                        </div>
                        <div class="col-lg-7 offset-lg-2">
                            <p>I have a MSc degree in Biology which gave me substantial vision of life. With this energizing vision and understanding, I found myself in the world of design. I started my professional design journey with book and magazine layouts. Then I was drawn to the fascinating realm of digital design where I have been designing web sites. Learning how to code and learning new things everyday has been my joyful obsession. Currently, I am madly into web development</p>
                            {# <p>I am happily married and living with two adorable cats in Bodrum</p> #}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {# <section>
            <div class="container">

            </div>
        </section> #}

        {# <section class="index-item-works">
            <div class="container" id="works">
                <p class="display-3">works</p>
                <div class="card-deck">
                    <div class="card">
                        <a href="https://www.finarkurumsal.com" target="_blank">
							{% image
								"src/images/works/finar.png", 
								"Finar Web Site",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
						</a>
                        <div class="card-body">
                            <h5 class="card-title">Finar</h5>
                            <p class="card-text">Static, Responsive web site with HTML5, SCSS and jQuery </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted d-flex justify-content-between" style="padding: 3px 0 2px;"><a href="https://www.finarkurumsal.com" target="_blank">finarkurumsal.com</a> <a title="Credits" href="https://www.finarkurumsal.com/humans.txt">🔍</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://www.borusan.com/_Media/tr/AnnualReports/2019/home.html" target="_blank">
							{% image
								"src/images/works/borusan2019.png", 
								"Borusan 2019 Annual Report",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
						</a>
                        <div class="card-body">
                            <h5 class="card-title">Borusan 2019 Annual Report</h5>
                            <p class="card-text">Static responsive web site with Parcel Bundler, SCSS, jQuery and FullPageJS </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted d-flex justify-content-between" style="padding: 3px 0 2px;"><a href="https://www.borusan.com/_Media/tr/AnnualReports/2019/home.html" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a> <a title="Credits" href="https://www.borusan.com/_Media/tr/AnnualReports/2019/assets/images/humans.5adc550a.txt" target="_blank">🔍</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="http://faaliyetraporu.sabancivakfi.org/index.html" target="_blank">
							{% image
								"src/images/works/sabanci-vakfi.png", 
								"Sabancı Foundation Annual Report",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
						</a>
                        <div class="card-body">
                            <h5 class="card-title">Sabancı Foundation Annual Report</h5>
                            <p class="card-text">Static, Responsive web site with HTML5, Css and jQuery </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted d-flex justify-content-between" style="padding: 3px 0 2px;"><a href="http://faaliyetraporu.sabancivakfi.org/index.html" target="_blank">faaliyetraporu.sabancivakfi.org</a> <a title="Credits" href="http://faaliyetraporu.sabancivakfi.org/humans.txt" target="_blank">🔍</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://www.ulvikocailik.com.tr" target="_blank">
							{% image
								"src/images/works/ulvikocailik.png", 
								"Ulvi Kocailik Personal Web Site",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
						</a>
                        <div class="card-body">
                            <h5 class="card-title">Ulvi Kocailik Personel Site</h5>
                            <p class="card-text">Joomla CMS responsive web site</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="https://www.ulvikocailik.com.tr" target="_blank">ulvikocailik.com.tr</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://www.garantiemeklilik.com.tr/faaliyetraporu2015/en/index.html" target="_blank">
							{% image
								"src/images/works/garanti-emeklilik-2015.png", 
								"Garanti Emeklilik 2015 Annual Report",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
						</a>
                        <div class="card-body">
                            <h5 class="card-title">Garanti Emeklilik 2015 Annual Report</h5>
                            <p class="card-text">Static responsive web site with HTML5, CSS and jQuery. This web site is deemed worthy of an award 🥇 by <a href="https://mercommawards.com/arc/archive/2016/categoryWinners/onlineInteractive.htm#insFin" target="_blank">ARC <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="https://www.garantiemeklilik.com.tr/faaliyetraporu2015/en/index.html" target="_blank">garantiemeklilik.com.tr/faaliyetraporu2015</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://www.garantifactoring.com/en/home.html" target="_blank">
							{% image
								"src/images/works/garanti-faktoring-2018.png", 
								"Garanti Faktoring 2018 Annual Report",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
						</a>
                        <div class="card-body">
                            <h5 class="card-title">Garanti Faktoring 2018 Annual Report</h5>
                            <p class="card-text">Static responsive web site with HTML5, SCSS, jQuery and FullPageJS </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="https://www.garantifactoring.com/en/home.html" target="_blank">garantifactoring.com/en</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://www.ismer.com.tr" target="_blank">
							{% image
								"src/images/works/ismer.png", 
								"İşmer Corporate Web Site",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">İşmer Corporate Web Site</h5>
                            <p class="card-text">Joomla CMS responsive web site</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="https://www.ismer.com.tr" target="_blank">ismer.com.tr</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://researchcentre.trtworld.com" target="_blank">
							{% image
								"src/images/works/trtworld.png", 
								"TRT World News Portal",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">TRT World News Portal</h5>
                            <p class="card-text">Joomla CMS responsive web site</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="https://researchcentre.trtworld.com" target="_blank">researchcentre.trtworld.com</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </section> #}

        <section class="index-item-works">
            <div class="container" id="works">
                <p class="display-3">works</p>
                <div class="card-deck">
                    {% for note in notes %}
                        {% set imagePath = note.image[0] %}
                        {% set imageAlt = note.name %}
                        <div class="card">
                            <a href="{{ note.link | safe }}" target="_blank">
                                {% asyncimage imagePath, imageAlt, "(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px", "card-img-top img-fluid" %}
                                {# {% image
                                    imagePath, 
                                    imageAlt,
                                    "(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
                                    [634,544,454,694,514,334],
                                    ["webp", "jpg"],
                                    "card-img-top img-fluid",
                                    "./images/optimized/",
                                    "lazy"
                                %}  #}
                                {# <img src="{{imagePath}}" class="card-img-top img-fluid" alt="{{imageAlt}}"> #}
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ note.name | safe }}</h5>
                                <div class="card-text">{{ note.content | markdown | safe }}</div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted d-flex justify-content-between" style="padding: 3px 0 2px;">
                                    <a href="{{ note.link | safe }}" target="_blank" rel="noopener noreferrer">{{ note.linktext | safe }}</a>
                                    <a title="Credits" href="{{ note.humanstxtlink | safe }}" target="_blank" rel="noopener noreferrer">🔍</a>
                                </small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    </div>
{%- endblock -%}