{% extends "layouts/base.njk" %}
{% set language = 'en' %}
{% set title = 'Portfolio' %}
{% set page_title = site.siteName + " | " + title  %}
{% set description = site.siteDescription %}
{% set script = '/js/main.js' %}
{% set bodyClass = 'anasayfa' %}
{% set relative_path = '.' %}
{%- block main -%}
    <div class="index-content">
        {% include 'partials/hero.njk' %}
        {% include 'partials/about.njk' %}
        {% include 'partials/works.njk' %}
    </div>
{%- endblock -%}