{% extends "layouts/base.njk" %}
{% set language = 'en' %}
{% set title = 'Portfolio' %}
{% set page_title = site.siteName + " | " + title  %}
{% set description = site.siteDescription %}
{% set script = '/js/main.js' %}
{% set bodyClass = 'anasayfa' %}
{% set relative_path = '.' %}
{%- block main -%}
    <div class="index-content">

        <section class="index-item-hero" id="top">
            <div class="container">
                <div class="display-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1>Learning is<br>a never ending<br>process <span>in the sea of infinite possibilities</span></h1>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-6 offset-lg-6">
                            <h2>I'm Evren Caglayan,<br>a web developer<br>based in <a class="bodrum text-white" href="https://goo.gl/maps/eYyYFh79qZux8gS77" target="_blank">Bodrum</a></h2>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>

        <section class="index-item-about">
            <div class="container" id="aboutme">
                <div class="display-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-lg-10 mr-auto">
                            <p class="display-3">about me</p>
                        </div>
                        <div class="col-lg-7 offset-lg-2">
                            <p>I have a MSc degree in Biology which gave me the huge and substantial vision of life. With this energizing vision and understanding, I found myself in the world of design. I started my professional design journey with book and magazine layouts. Then I was drawn to the fascinating realm of digital design where I have been designing web sites. Learning how to code and learning new things everyday has been my joyful obsession. Currently, I am madly into web development</p>
                            {# <p>I am happily married and living with two adorable cats in Bodrum</p> #}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {# <section>
            <div class="container">

            </div>
        </section> #}

        {# <section class="index-item-works">
            <div class="container" id="works">
                <p class="display-3">works</p>
                <div class="card-deck">
                    <div class="card">
                        <a href="https://www.finarkurumsal.com" target="_blank">
							{% image
								"src/images/works/finar.png", 
								"Finar Web Site",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
						</a>
                        <div class="card-body">
                            <h5 class="card-title">Finar</h5>
                            <p class="card-text">Static, Responsive web site with HTML5, SCSS and jQuery </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted d-flex justify-content-between" style="padding: 3px 0 2px;"><a href="https://www.finarkurumsal.com" target="_blank">finarkurumsal.com</a> <a title="Credits" href="https://www.finarkurumsal.com/humans.txt">🔍</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://www.borusan.com/_Media/tr/AnnualReports/2019/home.html" target="_blank">
							{% image
								"src/images/works/borusan2019.png", 
								"Borusan 2019 Annual Report",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
						</a>
                        <div class="card-body">
                            <h5 class="card-title">Borusan 2019 Annual Report</h5>
                            <p class="card-text">Static responsive web site with Parcel Bundler, SCSS, jQuery and FullPageJS </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted d-flex justify-content-between" style="padding: 3px 0 2px;"><a href="https://www.borusan.com/_Media/tr/AnnualReports/2019/home.html" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a> <a title="Credits" href="https://www.borusan.com/_Media/tr/AnnualReports/2019/assets/images/humans.5adc550a.txt" target="_blank">🔍</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="http://faaliyetraporu.sabancivakfi.org/index.html" target="_blank">
							{% image
								"src/images/works/sabanci-vakfi.png", 
								"Sabancı Foundation Annual Report",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
						</a>
                        <div class="card-body">
                            <h5 class="card-title">Sabancı Foundation Annual Report</h5>
                            <p class="card-text">Static, Responsive web site with HTML5, Css and jQuery </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted d-flex justify-content-between" style="padding: 3px 0 2px;"><a href="http://faaliyetraporu.sabancivakfi.org/index.html" target="_blank">faaliyetraporu.sabancivakfi.org</a> <a title="Credits" href="http://faaliyetraporu.sabancivakfi.org/humans.txt" target="_blank">🔍</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://www.ulvikocailik.com.tr" target="_blank">
							{% image
								"src/images/works/ulvikocailik.png", 
								"Ulvi Kocailik Personal Web Site",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
						</a>
                        <div class="card-body">
                            <h5 class="card-title">Ulvi Kocailik Personel Site</h5>
                            <p class="card-text">Joomla CMS responsive web site</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="https://www.ulvikocailik.com.tr" target="_blank">ulvikocailik.com.tr</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://www.garantiemeklilik.com.tr/faaliyetraporu2015/en/index.html" target="_blank">
							{% image
								"src/images/works/garanti-emeklilik-2015.png", 
								"Garanti Emeklilik 2015 Annual Report",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
						</a>
                        <div class="card-body">
                            <h5 class="card-title">Garanti Emeklilik 2015 Annual Report</h5>
                            <p class="card-text">Static responsive web site with HTML5, CSS and jQuery. This web site is deemed worthy of an award 🥇 by <a href="https://mercommawards.com/arc/archive/2016/categoryWinners/onlineInteractive.htm#insFin" target="_blank">ARC <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="https://www.garantiemeklilik.com.tr/faaliyetraporu2015/en/index.html" target="_blank">garantiemeklilik.com.tr/faaliyetraporu2015</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://www.garantifactoring.com/en/home.html" target="_blank">
							{% image
								"src/images/works/garanti-faktoring-2018.png", 
								"Garanti Faktoring 2018 Annual Report",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
						</a>
                        <div class="card-body">
                            <h5 class="card-title">Garanti Faktoring 2018 Annual Report</h5>
                            <p class="card-text">Static responsive web site with HTML5, SCSS, jQuery and FullPageJS </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="https://www.garantifactoring.com/en/home.html" target="_blank">garantifactoring.com/en</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://www.ismer.com.tr" target="_blank">
							{% image
								"src/images/works/ismer.png", 
								"İşmer Corporate Web Site",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">İşmer Corporate Web Site</h5>
                            <p class="card-text">Joomla CMS responsive web site</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="https://www.ismer.com.tr" target="_blank">ismer.com.tr</a></small>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://researchcentre.trtworld.com" target="_blank">
							{% image
								"src/images/works/trtworld.png", 
								"TRT World News Portal",
								"(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
								[634,544,454,694,514,334],
								["webp", "jpg"],
								"card-img-top img-fluid",
								"./images/optimized/",
								"lazy"
							%}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">TRT World News Portal</h5>
                            <p class="card-text">Joomla CMS responsive web site</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="https://researchcentre.trtworld.com" target="_blank">researchcentre.trtworld.com</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </section> #}

        <section class="index-item-works">
            <div class="container" id="works">
                <p class="display-3">works</p>
                <div class="card-deck">
                    {% for note in notes %}
                        {% set imagePath = note.image[0] %}
                        {% set imageAlt = note.name %}
                        <div class="card">
                            <a href="{{ note.link | safe }}" target="_blank">
                                {% asyncimage imagePath, imageAlt, "(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px", "card-img-top img-fluid" %}
                                {# {% image
                                    imagePath, 
                                    imageAlt,
                                    "(max-width:425.98px) 334px, (max-width:575.98px) 98vw, (max-width:767.98px) 514px, (max-width:991.98px) 694px, (max-width:1199.98px) 454px, (max-width:1399.98px) 544px, (min-width:1400px) 634px",
                                    [634,544,454,694,514,334],
                                    ["webp", "jpg"],
                                    "card-img-top img-fluid",
                                    "./images/optimized/",
                                    "lazy"
                                %}  #}
                                {# <img src="{{imagePath}}" class="card-img-top img-fluid" alt="{{imageAlt}}"> #}
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ note.name | safe }}</h5>
                                <div class="card-text">{{ note.content | markdown | safe }}</div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted d-flex justify-content-between" style="padding: 3px 0 2px;">
                                    <a href="{{ note.link | safe }}" target="_blank" rel="noopener noreferrer">{{ note.linktext | safe }}</a>
                                    <a title="Credits" href="{{ note.humanstxtlink | safe }}" target="_blank" rel="noopener noreferrer">🔍</a>
                                </small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    </div>
{%- endblock -%}