<section class="index-item-about" id="me">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="row">
                {# <div class="col-lg-10 mr-auto">
                    <p class="display-3">me</p>
                </div> #}
                <div class="col-lg-8 mx-auto">
                    <p class="mb-0 fs-5 text-balance">I have a Master's degree in Biology, which broadened my perspective on life. Fueled by this exciting viewpoint and knowledge, I ventured into the field of design. I began my professional design journey with creating layouts for books and magazines. Later, I was captivated by the intriguing world of digital design, focusing on designing websites. Learning to code and acquiring new knowledge daily has become my delightful passion. At present, I am deeply engrossed in web development.</p>
                    {# <p>I am happily married and living with two adorable cats in Bodrum</p> #}
                </div>
            </div>
        </div>
    </div>
</section>
 