<section class="index-item-works">
    <div id="works">
        <div class="card-deck">

            <!-- Slider main container -->
            <div class="swiper px-4 px-md-6 px-lg-7 px-xl-8 px-xxl-9">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {% include 'partials/card.njk' %}
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>

        </div>
    </div>
</section>
