<section class="index-item-works mt-3" id="works">
    <div class="card-deck container d-flex flex-column justify-content-center align-items-center">
        {% include 'partials/card.njk' %}
    </div>
</section>
